
@charset "utf-8";


/*-----------타이틀영역--------------- */
#tit{
  width: 100%;
  padding: 120px 0;
  text-align: center;
  margin-bottom: 20px;
  
}
#tit h2{
  border-bottom: 1px solid #000;
  font-size: 10rem;
  font-weight: normal;
  padding-bottom: 100px;
}


/* 모바일 */
@media screen and (max-width : 1080px) {
  #tit h2{
    font-size: 8rem;
  }
}








/* --------------이벤트 리스트-------------------- */
#event-list{
  margin-bottom: 200px;
}
#event-list .event{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
#event-list .event li{
  font-family: "Noto Sans KR", sans-serif;
  width: calc( (100% - 60px) / 3 );
  margin-bottom: 60px;
}

#event-list .event li .event-img{
  border-radius: 20px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}
#event-list .event li .event-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.5s;
}
#event-list .event li .event-img:hover img{
  transform: scale(1.1);
}


.event-txt{
  margin-top: 20px;
  padding: 0 10px;
}
.event-txt span{
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 1.5rem;
}
.event-txt p{
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 500;
}





.pagebox{
  padding-top: 40px;
  
}
.page{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2px;
}
.page li{
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.page li a{
  color: rgba(0, 0, 0, 0.6);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;

  transition: color 0.3s;
}
.page li.on a{
  color: #000;
  font-weight: 700;
}

.page li:hover a{
  color: #000;
}


.page li:nth-child(1){
  border: 0;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  background: url(../img/sub_event/double_left.png) no-repeat center;
}
.page li:nth-child(2){
  border: 0;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  background: url(../img/sub_event/left.png) no-repeat center;
}
.page li:nth-child(8){
  border: 0;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  background: url(../img/sub_event/right.png) no-repeat center;
}
.page li:nth-child(9){
  border: 0;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  background: url(../img/sub_event/double_right.png) no-repeat center;
}






/* 모바일 */
@media screen and (max-width : 1080px){
  #event-list .event{
    flex-wrap: wrap;
  }
  #event-list .event li{
    width: calc( (100% - 30px) / 2 );
  }
  #event-list .event li .event-img{
    height: 400px;
  }
}


@media screen and (max-width : 700px) {
  
  #event-list .event li .event-img{
    height: 250px;
  }
  #event-list .event li{
    margin-bottom: 30px;
  }

  .event-txt{
    margin-top: 20px;
    padding: 0 8px;
  }
  .event-txt span{
    font-size: 1.5rem;
  }
  .event-txt p{
    margin-top: 8px;
    font-size: 1.8rem;
  }
  
  .page li a{
    font-size: 1.4rem;
  }
  .page li:nth-child(1) a,
  .page li:nth-child(2) a,
  .page li:nth-child(8) a,
  .page li:nth-child(9) a{
    color: transparent;
    font-size: 0;
  }

}
