@charset "utf-8";
html{
  font-size: 10px;
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Belleza", "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  line-height: 1.35;
  color: #000;
}
table{
  border-collapse: collapse;
  width: 100%;
}
a{
  text-decoration: none;
  color: #000;
}
ul, ol{
  list-style: none;
}
img{
  vertical-align: top;
  border: 0;
}
address, em{
  font-style: normal;
}
caption, legend{
  display: none;
}
select, input, fieldset{
  vertical-align: top;
  border: 0;
}
input{
  outline: none;
}



