#exh-list ul li:nth-child(1){
  background: url(../../img/sub_place/gangneung/gangneung_01.jpg) no-repeat center / cover;
}
#exh-list ul li:nth-child(2){
  background: url(../../img/sub_place/gangneung/gangneung_02.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(3){
  background: url(../../img/sub_place/gangneung/gangneung_03.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(4){
  background: url(../../img/sub_place/gangneung/gangneung_04.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(5){
  background: url(../../img/sub_place/gangneung/gangneung_05.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(6){
  background: url(../../img/sub_place/gangneung/gangneung_06.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(7){
  background: url(../../img/sub_place/gangneung/gangneung_07.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(8){
  background: url(../../img/sub_place/gangneung/gangneung_08.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(9){
  background: url(../../img/sub_place/gangneung/gangneung_09.jpg)no-repeat center / cover;
}