#exh-list ul li:nth-child(1){
  background: url(../../img/sub_place/busan/busan_01.jpg) no-repeat center / cover;
}
#exh-list ul li:nth-child(2){
  background: url(../../img/sub_place/busan/busan_02.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(3){
  background: url(../../img/sub_place/busan/busan_03.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(4){
  background: url(../../img/sub_place/busan/busan_04.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(5){
  background: url(../../img/sub_place/busan/busan_05.jpg)no-repeat center / cover;
}
#exh-list ul li:nth-child(6){
  background: url(../../img/sub_place/busan/busan_06.jpg)no-repeat center / cover;
}

